<h1>Create an Account</h1>
<%= form_for @user do |f|%>
<h3>Username:</h3> <%= f.text_field :user_name %>
<h3>Password:</h3> <%= f.password_field :password %>
<h3>Password Confirmation:</h3> <%= f.password_field :password_confirmation %>
</br>
</br>
<%= f.submit %>
<%end%>
<% if @user.errors.any? %>
  <%= @user.errors.full_messages %>
<% end %>