<h1> Game Over!!</h1>
<h2> The children have overcome your ability to clean up after them!!! <h2>
<h3> Here are your stats:  </h3>
<ul>
<li> messes cleaned:<%= @gamestat.messes_cleaned %> </li>
<li> total time:<%= @gamestat.elapsed_time.strftime("%H:%M:%S") %>  </li>
</ul>
<%= form_with(url: "/newgame", method: "post" ) do %>
    <%= submit_tag("Try Again") %>
<% end %>


<%= link_to "Statistics", statistics_path(current_user) %>