<h1>House View</h1>

<%= link_to (image_tag "/assets/livingroom.png", :size => '260x200'), @rooms.first %>
<%= link_to (image_tag "/assets/Diningroom.png", :size => '260x200'), @rooms.fifth %>
<%= link_to (image_tag "/assets/Kitchen.png", :size => '260x200'), @rooms.second %>
<%= link_to (image_tag "/assets/bethroom.png", :size => '200x200'), @rooms.fourth %>
<%= link_to (image_tag "/assets/bedroom.png", :size => '200x200'), @rooms.third %>

<h1>Inventory</h1>
<p>
    <% if !Room.inventory.tools.empty? %>
        <%= Room.inventory.tools.first.name %>
    <% else %>
        <%= "Empty" %></p>
    <%end%>
</p>

<h1>Time</h1>
<p><%= (Time.now - @playTime).to_i %> seconds.</p>